---
layout: footer
nav:
- title: Who we help
  href: 'pitch/'
- title: How it works
  href: 'solution/'
- title: Tools & instruments
  href: 'tools/'
---
<nav hidden>
  <a href="{{ site.baseurl }}" class="home">Visit our homepage</a>
  <a href="{{ site.owner.website }}" class="logo">C<span class="cfsg">o</span>founders.sg</a>
  <a href="{{ site.owner.contact }}" class="contact">Contact us</a>
  <ul>
    {% for link in page.nav %}
    <li><a href="{{ site.baseurl }}{{ link.href }}">{{ link.title }}</a></li>
    {% endfor %}
  </ul>
</nav>
{{content}}
