@charset 'utf-8';

/* Third party fonts
 */

@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Crimson+Text:400,700italic,600italic);

/* Cofounders logo font with custom glyph
 */

@font-face {
  font-family: 'League Gothic';
  src: url('../fonts/League_Gothic-webfont.eot');
  src: url('../fonts/League_Gothic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/League_Gothic-webfont.woff') format('woff'),
    url('../fonts/League_Gothic-webfont.ttf') format('truetype'),
    url('../fonts/League_Gothic-webfont.svg#LeagueGothicRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'League Gothic CFSG';
  src: url('../fonts/LeagueGothic-CFSG.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Font icons
 */

@font-face {
  font-family: 'cfsg-icon-fonts';
  src: url('../fonts/cfsg-icon-fonts.eot');
  src: url('../fonts/cfsg-icon-fonts.eot?#iefix') format('embedded-opentype'),
    url('../fonts/cfsg-icon-fonts.ttf') format('truetype'),
    url('../fonts/cfsg-icon-fonts.svg#cfsg-icon-fonts') format('svg'),
    url('../fonts/cfsg-icon-fonts.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

/* Site structure
 */

html,
body {
  margin: 0;
  height: 100%;
}

body > section {
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
  min-height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column;
  flex-flow: column;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}

body > section > article {
  margin: 0 auto;
  width: 100%;
  max-width: 1024px;
  -webkit-flex: auto;
  flex: auto;
  min-height: 300px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column;
  flex-flow: column;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}

@media (max-width: 768px) {
  body > section > article {
    max-width: 100%;
  }
  body > section {
    background-image: none !important;
  }
}

body > section > article > * {
  -webkit-flex: none;
  flex: none;
}

/* Component: Slide titles
 */

h1,
h2 {
  font-family: 'League Gothic', sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #222222;
}
h1 > .cfsg {
  font-family: 'League Gothic CFSG', 'League Gothic', sans-serif;
  text-transform: lowercase;
}
h1 {
  font-size: 72px;
}
h2 {
  font-size: 28px;
}

/* Page: Home
 * Screen: Intro
 */

#intro {
  background-image: url('../images/bg_ingenuity.jpg');
  background-color: #f6e9d8;
}
#intro > article {
  max-height: 600px;
}
#intro header > h1 {
  font-size: 120px;
}
#intro ol {
  list-style-type: none;
  display: block;
  margin: -10px 0 0 0;
  padding: 0;
  text-align: center;
}
#intro ol > li {
  display: inline-block;
  text-transform: uppercase;
  font-family: 'Crimson Text', serif;
  font-weight: 400;
  font-size: 24px;
  color: #231f20;
}
#intro ol > li:before,
#intro ol > li:last-child:after {
  display: inline-block;
  content: '\2022';
  padding: 0 5px 0 2px;
}
#intro .tagline {
  font-family: 'Crimson Text', serif;
  font-weight: 600;
  font-style: italic;
  font-size: 48px;
  line-height: 1.2;
  color: #222222;
  text-align: center;
  margin: 0;
}
#intro .tagline .line {
  white-space: nowrap;
}
#intro .tagline em {
  color: #d87e12;
  font-weight: 700;
  font-style: italic;
}
#intro .contact {
  width: 50%;
  text-align: center;
  margin: 10px 0;
}
#intro .contact a {
  position: relative;
  display: inline-block;
  background-color: #74448e;
  box-sizing: border-box;
  height: 80px;
  padding: 8px 30px 0 95px;
  border-radius: 40px;
  text-decoration: none;
  white-space: nowrap;
}
#intro .contact a:before {
  position: absolute;
  left: 0;
  top: 0;
  font-family: 'cfsg-icon-fonts';
  font-size: 30px;
  content: 'e';
  color: #fff;
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 40px 0 0 40px;
  background-color: rgba(0, 0, 0, 0.3);
  line-height: 80px;
  text-align: right;
  padding: 0 15px 0 0;
  box-sizing: border-box;
}
#intro .contact a .cta {
  display: block;
  color: #fff;
  font-family: 'Roboto Slab', serif;
  font-size: 30px;
  font-weight: 400;
  margin: 0 0 -10px 0;
}
#intro .contact a .address {
  display: block;
  color: rgba(255, 255, 255, 0.5);
  font-family: 'Crimson Text', serif;
  font-size: 22px;
  font-weight: 600;
  font-style: italic;
}

@media (max-width: 768px) {
  #intro > article {
    max-height: none;
  }
  #intro header > h1 {
    font-size: 70px;
  }
  #intro ol > li {
    font-size: 16px;
  }
  #intro ol > li:first-child:before,
  #intro ol > li:last-child:after {
    display: none;
  }
  #intro .tagline {
    font-size: 36px;
  }
  #intro .contact {
    width: 100%;
  }
}

/* Page: Home
 * Screen: Pitch
 */

#pitch {
  position: relative;
  background-image: url('../images/bg_ingenuity.jpg');
  background-color: #f6e9d8;
}
#pitch:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9);
}
#pitch > article {
  max-height: 750px;
  z-index: 1;
}
#pitch > article > ul {
  list-style-type: none;
  -webkit-display: flex;
  display: flex;
  padding: 0;
  margin: 0;
  text-align: center;
}
#pitch > article > ul > li {
  display: block;
  -webkit-flex: 1 1 1px;
  flex: 1 1 1px;
}
#pitch .audience {
  margin: 10px 0 0 0;
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}
#pitch .audience:before {
  content: '';
  display: block;
  height: 300px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 0 30px;
  box-sizing: border-box;
  background-origin: content-box;
}
#pitch .audience.hackers:before {
  background-image: url('../images/techies-avi.svg');
}
#pitch .audience.entrepreneurs:before {
  background-image: url('../images/entrepreneurs-avi.svg');
}
#pitch .audience.investors:before {
  background-image: url('../images/investors-avi.svg');
}
#pitch .audience > h2 {
  padding: 20px;
}
#pitch .audience > ol {
  text-align: left;
  padding: 0 25px 0 36px;
  margin: 0 auto;
  list-style: none;
  display: inline-block;
  min-height: 120px;
}
#pitch .audience > ol > li {
  display: block;
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #222222;
  margin: 0 0 5px 0;
  position: relative;
}
#pitch .audience > ol > li:before {
  position: absolute;
  top: 0;
  left: -36px;
  height: 24px;
  width: 24px;
  display: block;
  content: '';
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
#pitch .audience.hackers > ol > li:before {
  background-image: url('../images/techies-bullet.svg');
}
#pitch .audience.entrepreneurs > ol > li:before {
  background-image: url('../images/entrepreneurs-bullet.svg');
}
#pitch .audience.investors > ol > li:before {
  background-image: url('../images/investors-bullet.svg');
}
#pitch .audience p {
  display: block;
}
#pitch .audience p > label {
  cursor: pointer;
  display: inline-block;
  padding: 8px 35px;
  height: 45px;
  border-style: solid;
  border-width: 2px;
  border-radius: 22.5px;
  border-box: border-box;
  font-size: 18px;
  font-family: 'Roboto Slab';
  box-sizing: border-box;
}
#pitch .audience.hackers p > label {
  color: #0089c2;
  border-color: #0089c2;
}
#pitch .audience.entrepreneurs p > label {
  color: #e88f24;
  border-color: #e88f24;
}
#pitch .audience.investors p > label {
  color: #8b2022;
  border-color: #8b2022;
}
#pitch .audience:hover p > label {
  color: #fff;
}
#pitch .audience.hackers:hover p > label {
  background-color: #0089c2;
}
#pitch .audience.entrepreneurs:hover p > label {
  background-color: #e88f24;
}
#pitch .audience.investors:hover p > label {
  background-color: #8b2022;
}

@media (max-width: 768px) {
  #pitch > article {
    max-height: none;
  }
  #pitch > article > ul {
    -webkit-flex-flow: column;
    flex-flow: column;
  }
  #pitch > article > ul > li {
    -webkit-flex: none;
    flex: none;
  }
  #pitch .audience:before {
    height: 150px;
  }
}

/* Page: Home
 * Screen: Challenge
 */

#challenge {
  background-image: url('../images/bg_product.jpg');
  background-color: #f6e9d8;
}
#challenge > article {
  max-height: 350px;
}
#challenge q {
  display: block;
  font-family: 'Crimson Text', serif;
  font-weight: 600;
  font-style: italic;
  font-size: 48px;
  line-height: 48px;
  color: #222222;
  text-align: center;
  margin: 0 20px 0 25%;
  vertical-align: top;
}
#challenge q:before {
  content: open-quote;
}
#challenge q:after {
  content: close-quote;
}
#challenge .line {
  white-space: nowrap;
}
#challenge .toggle {
  color: #74448e;
  font-weight: 700;
  display: inline-block;
  height: 52px;
  margin: 0 5px -12px 5px;
  overflow: hidden;
}
#challenge .toggle > * {
  display: block;
  -webkit-animation: swap-role 10s ease infinite;
  -moz-animation: swap-role 10s ease infinite;
  animation: swap-role 20s ease infinite;
}
@-webkit-keyframes swap-role {
  0% { -webkit-transform: translateY(0); }
  5% { -webkit-transform: translateY(-48px); }
  55% { -webkit-transform: translateY(-48px); }
  60% { -webkit-transform: translateY(0); }
}
@-moz-keyframes swap-role {
  0% { transform: translateY(0); }
  5% { transform: translateY(-48px); }
  55% { transform: translateY(-48px); }
  60% { transform: translateY(0); }
}
@keyframes swap-role {
  0% { transform: translateY(0); }
  5% { transform: translateY(-48px); }
  55% { transform: translateY(-48px); }
  60% { transform: translateY(0); }
}
  
@media (max-width: 768px) {
  #challenge q {
    margin: 0 20px;
  }
  #challenge > article {
    max-height: none;
  }
}
