@charset 'utf-8';

/* Third party fonts
 */

@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Crimson+Text:400,700italic,600italic);

/* Cofounders logo font with custom glyph
 */

@font-face {
  font-family: 'League Gothic';
  src: url('../fonts/League_Gothic-webfont.eot');
  src: url('../fonts/League_Gothic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/League_Gothic-webfont.woff') format('woff'),
    url('../fonts/League_Gothic-webfont.ttf') format('truetype'),
    url('../fonts/League_Gothic-webfont.svg#LeagueGothicRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'League Gothic CFSG';
  src: url('../fonts/LeagueGothic-CFSG.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Font icons
 */

@font-face {
  font-family: 'cfsg-icon-fonts';
  src: url('../fonts/cfsg-icon-fonts.eot');
  src: url('../fonts/cfsg-icon-fonts.eot?#iefix') format('embedded-opentype'),
    url('../fonts/cfsg-icon-fonts.ttf') format('truetype'),
    url('../fonts/cfsg-icon-fonts.svg#cfsg-icon-fonts') format('svg'),
    url('../fonts/cfsg-icon-fonts.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Site structure
 */

html,
body {
  margin: 0;
  height: 100%;
}
body > section {
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
  min-height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column;
  flex-flow: column;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
body > section > article {
  margin: 0 auto;
  width: 100%;
  max-width: 1024px;
  -webkit-flex: auto;
  flex: auto;
  min-height: 300px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column;
  flex-flow: column;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}
body > section > article > header > h1 {
  margin: 20px 0 0 0;
}
body > section > article > * {
  -webkit-flex: none;
  flex: none;
}

@media (max-width: 768px) {
  body > section > article {
    max-width: 100%;
  }
  body > section {
    background-image: none !important;
  }
}

/* Component: Slide titles
 */

h1,
h2 {
  font-family: 'League Gothic', sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #222222;
  line-height: 1;
}
h1 > .cfsg {
  font-family: 'League Gothic CFSG', 'League Gothic', sans-serif;
  text-transform: lowercase;
}
h1 {
  font-size: 72px;
}
h2 {
  font-size: 28px;
}

/* Component: Details button
 */

a.details {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  height: 80px;
  padding: 8px 30px 0 95px;
  border-radius: 40px;
  text-decoration: none;
  white-space: nowrap;
  text-align: center;
}
a.details:before {
  position: absolute;
  left: 0;
  top: 0;
  font-family: 'cfsg-icon-fonts';
  font-size: 30px;
  color: #fff;
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 40px 0 0 40px;
  background-color: rgba(0, 0, 0, 0.3);
  line-height: 80px;
  text-align: right;
  padding: 0 15px 0 0;
  box-sizing: border-box;
}
a.details .cta {
  display: block;
  color: #fff;
  font-family: 'Roboto Slab', serif;
  font-size: 30px;
  font-weight: 400;
  margin: 0 0 -10px 0;
}
a.details .cta:only-child {
  margin-top: 10px;
}
a.details .info {
  display: block;
  color: rgba(255, 255, 255, 0.5);
  font-family: 'Crimson Text', serif;
  font-size: 22px;
  font-weight: 600;
  font-style: italic;
}

@media (max-width: 768px) {
  a.details {
    padding-left: 30px;
  }
  a.details:before {
    display: none;
  }
}

/* Component: Slide titles
 */

label.link {
  cursor: pointer;
  display: inline-block;
  padding: 8px 35px;
  min-height: 45px;
  border-style: solid;
  border-width: 2px;
  border-radius: 22.5px;
  font-size: 18px;
  font-family: 'Roboto Slab';
  box-sizing: border-box;
}

/* Page: Home
 * Screen: Intro
 */

#intro {
  background-image: url('../images/bg_ingenuity.jpg');
  background-color: #f6e9d8;
}
#intro > article {
  max-height: 600px;
}
#intro header > h1 {
  font-size: 120px;
  margin: 0;
}
#intro ol {
  list-style-type: none;
  display: block;
  margin: -10px 0 0 0;
  padding: 0;
  text-align: center;
}
#intro ol > li {
  display: inline-block;
  text-transform: uppercase;
  font-family: 'Crimson Text', serif;
  font-weight: 400;
  font-size: 24px;
  color: #231f20;
}
#intro ol > li:before,
#intro ol > li:last-child:after {
  display: inline-block;
  content: '\2022';
  padding: 0 5px 0 2px;
}
#intro .tagline {
  font-family: 'Crimson Text', serif;
  font-weight: 600;
  font-style: italic;
  font-size: 48px;
  line-height: 1.2;
  color: #222222;
  text-align: center;
  margin: 0;
}
#intro .tagline .line {
  white-space: nowrap;
}
#intro .tagline em {
  color: #d87e12;
  font-weight: 700;
  font-style: italic;
}
#intro .contact {
  width: 50%;
  text-align: center;
  margin: 10px 0;
}
#intro .contact a {
  background-color: #74448e;
}
#intro .contact a:before {
  content: 'e';
}

@media (max-width: 768px) {
  #intro > article {
    max-height: none;
  }
  #intro header > h1 {
    font-size: 70px;
  }
  #intro ol > li {
    font-size: 16px;
  }
  #intro ol > li:first-child:before,
  #intro ol > li:last-child:after {
    display: none;
  }
  #intro .tagline {
    font-size: 36px;
    margin: 0 10px;
  }
  #intro .contact {
    width: 100%;
  }
  #intro a.details {
    padding-left: 95px;
  }
  #intro a.details:before {
    display: inline-block;
  }
}

/* Page: Home
 * Screen: Pitch
 */

#pitch {
  position: relative;
  background-image: url('../images/bg_ingenuity.jpg');
  background-color: #f6e9d8;
}
#pitch:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9);
}
#pitch > article {
  max-height: 750px;
  z-index: 1;
}
#pitch > article > ul {
  list-style-type: none;
  -webkit-display: flex;
  display: flex;
  padding: 0;
  margin: 0 0 40px 0;
  text-align: center;
}
#pitch > article > ul > li {
  display: block;
  -webkit-flex: 1 1 1px;
  flex: 1 1 1px;
}
#pitch .audience {
  margin: 10px 0 0 0;
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}
#pitch .audience:before {
  content: '';
  display: block;
  height: 300px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 0 30px;
  box-sizing: border-box;
  background-origin: content-box;
}
#pitch .audience.hackers:before {
  background-image: url('../images/techies-avi.svg');
}
#pitch .audience.entrepreneurs:before {
  background-image: url('../images/entrepreneurs-avi.svg');
}
#pitch .audience.investors:before {
  background-image: url('../images/investors-avi.svg');
}
#pitch .audience > h2 {
  padding: 20px;
}
#pitch .audience > ol {
  text-align: left;
  padding: 0 25px 0 36px;
  margin: 0 auto;
  list-style: none;
  display: inline-block;
  min-height: 120px;
}
#pitch .audience > ol > li {
  display: block;
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #222222;
  margin: 0 0 5px 0;
  position: relative;
}
#pitch .audience > ol > li:before {
  position: absolute;
  top: 0;
  left: -36px;
  height: 24px;
  width: 24px;
  display: block;
  content: '';
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
#pitch .audience.hackers > ol > li:before {
  background-image: url('../images/techies-bullet.svg');
}
#pitch .audience.entrepreneurs > ol > li:before {
  background-image: url('../images/entrepreneurs-bullet.svg');
}
#pitch .audience.investors > ol > li:before {
  background-image: url('../images/investors-bullet.svg');
}
#pitch .audience p {
  display: block;
}
#pitch .audience.hackers label.link {
  color: #0089c2;
  border-color: #0089c2;
}
#pitch .audience.entrepreneurs label.link {
  color: #e88f24;
  border-color: #e88f24;
}
#pitch .audience.investors label.link {
  color: #8b2022;
  border-color: #8b2022;
}
#pitch .audience:hover label.link {
  color: #fff;
}
#pitch .audience.hackers:hover label.link {
  background-color: #0089c2;
}
#pitch .audience.entrepreneurs:hover label.link {
  background-color: #e88f24;
}
#pitch .audience.investors:hover label.link {
  background-color: #8b2022;
}

@media (max-width: 768px) {
  #pitch > article {
    max-height: none;
  }
  #pitch > article > ul {
    -webkit-flex-flow: column;
    flex-flow: column;
  }
  #pitch > article > ul > li {
    -webkit-flex: none;
    flex: none;
  }
  #pitch .audience:before {
    height: 150px;
  }
  #pitch .audience > ol {
    min-height: 0;
  }
}

@media (max-width: 768px) and (orientation: landscape) {
  #pitch .audience {
    position: relative;
    padding-right: 200px;
    box-sizing: border-box;
  }
  #pitch .audience:before {
    position: absolute;
    width: 210px;
    top: 0;
    right: 0px;
    padding: 10px;
    height: 100%;
  }
}

/* Page: Home
 * Screen: Challenge
 */

#challenge {
  background-image: url('../images/bg_product.jpg');
  background-color: #f6e9d8;
}
#challenge > article > header > h1 {
  margin-left: 25%;
}
#challenge > article {
  max-height: 350px;
}
#challenge q {
  display: block;
  font-family: 'Crimson Text', serif;
  font-weight: 600;
  font-style: italic;
  font-size: 48px;
  line-height: 48px;
  color: #222222;
  text-align: center;
  margin: 0 20px 0 25%;
  vertical-align: top;
}
#challenge q:before {
  content: open-quote;
}
#challenge q:after {
  content: close-quote;
}
#challenge .line {
  white-space: nowrap;
}
#challenge .toggle {
  color: #74448e;
  font-weight: 700;
  display: inline-block;
  height: 52px;
  margin: 0 5px -12px 5px;
  overflow: hidden;
}
#challenge .toggle > * {
  display: block;
}
#challenge .toggle > :first-child {
  -webkit-animation: swap-role 10s ease infinite;
  -moz-animation: swap-role 10s ease infinite;
  animation: swap-role 20s ease infinite;
}
@-webkit-keyframes swap-role {
  0% { margin-top: 0; }
  5% { margin-top: -48px; }
  55% { margin-top: -48px; }
  60% { margin-top: 0; }
}
@-moz-keyframes swap-role {
  0% { margin-top: 0; }
  5% { margin-top: -48px; }
  55% { margin-top: -48px; }
  60% { margin-top: 0; }
}
@keyframes swap-role {
  0% { margin-top: 0; }
  5% { margin-top: -48px; }
  55% { margin-top: -48px; }
  60% { margin-top: 0; }
}

@media (max-width: 768px) {
  #challenge > article > header > h1 {
    margin-left: 0;
  }
  #challenge q {
    margin: 0 20px;
  }
  #challenge > article {
    max-height: none;
  }
}

/* Page: Home
 * Screen: Solution
 */

#solution {
  position: relative;
  background-image: url('../images/bg_product.jpg');
  background-color: #f6e9d8;
}
#solution:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(116, 68, 142, 0.9);
}
#solution > article {
  max-height: 750px;
  z-index: 1;
}
#solution h1 {
  color: #fff;
}
#solution .description {
  font-family: 'Crimson Text', serif;
  font-weight: 600;
  font-style: italic;
  font-size: 48px;
  line-height: 48px;
  color: #fff;
  text-align: center;
  margin: 0;
}
#solution .description:before {
  display: block;
  content: '';
  width: 100%;
  max-width: 350px;
  height: 350px;
  background-image: url('../images/solution.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  margin: auto;
  opacity: 0.5;
}
#solution .link {
  text-align: center;
  margin: 40px 0;
}
#solution .description em {
  font-weight: 700;
}
#solution a {
  background-color: #d87e12;
}
#solution a:before {
  content: 'w';
}

@media (max-width: 768px) {
  #solution > article {
    max-height: none;
  }
  #solution .description {
    margin: 0 10px;
  }
}

/* Page: Home
 * Screen: Instruments
 */

#instruments {
}
#instruments > article > p {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #888;
  margin: 0;
}
#instruments > article > ul {
  list-style-type: none;
  padding: 0;
  margin: 10px 0;
}
#instruments .instrument {
  display: -webkit-flex;
  display: flex;
  width: 100%;
  height: 100%;
  margin: 40px 0 40px 0;
  text-decoration: none;
  position: relative;
}
#instruments .instrument > div {
  -webkit-flex: 1 1 70%;
  flex: 1 1 70%;
  -webkit-order: 2;
  order: 2;
}
#instruments .instrument > figure {
  -webkit-flex: 1 1 30%;
  flex: 1 1 30%;
  max-width: 285px;
  margin: 0;
  padding: 25px 0 0 0;
}
#instruments .instrument > figure > img {
  border: none;
  width: 70%;
}
#instruments .instrument h2 {
  font-size: 36px;
  text-align: left;
}
#instruments .instrument.design h2 {
  color: #74448e;
}
#instruments .instrument.code h2 {
  color: #d87e12;
}
#instruments .instrument.legal h2 {
  color: #0089c2;
}
#instruments .instrument header > p {
  font-family: 'Crimson Text', serif;
  font-weight: 600;
  font-style: italic;
  font-size: 24px;
  color: #888;
  margin: -8px 0 20px 0;
}
#instruments .instrument div > p {
  color: #222;
  font-family: 'Roboto Slab', serif;
  font-size: 18px;
  font-weight: 400;
}
#instruments .instrument label.link {
  min-width: 50%;
  text-align: center;
}
#instruments .instrument.design label.link {
  color: #74448e;
  border-color: #74448e;
}
#instruments .instrument.code label.link {
  color: #d87e12;
  border-color: #d87e12;
}
#instruments .instrument.legal label.link {
  color: #0089c2;
  border-color: #0089c2;
}
#instruments .instrument:hover label.link {
  color: #fff;
}
#instruments .instrument.design:hover label.link {
  background-color: #74448e;
}
#instruments .instrument.code:hover label.link {
  background-color: #d87e12;
}
#instruments .instrument.legal:hover label.link {
  background-color: #0089c2;
}

@media (max-width: 768px) {
  #instruments > article > p {
    margin: 0 10px;
  }
  #instruments > article > ul {
    margin: 10px 10px;
  }
}

@media (max-width: 768px) and (orientation: portrait) {
  #instruments .instrument {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  #instruments .instrument > div {
    -webkit-flex: none;
    flex: none;
  }
  #instruments .instrument,
  #instruments .instrument h2 {
    text-align: center;
  }
  #instruments .instrument h2 {
    text-align: center;
  }
  #instruments .instrument div > p {
    text-align: left;
  }
  #instruments .instrument > figure {
    height: 100px;
    -webkit-flex: none;
    flex: none;
    text-align: center;
    max-width: none;
    padding: 0 0 25px 0;
  }
  #instruments .instrument > figure > img {
    width: auto;
    height: 100%;
  }
}

/* Page: All
 * Screen: Contact
 */

#contact {
  background-image: url('../images/bg_team.jpg');
  background-color: #f6e9d8;
}
#contact > article {
  max-height: 500px;
  text-align: center;
}
#contact > article > * {
  margin: 0 0 0 30%;
}
#contact .message {
  font-family: 'Crimson Text', serif;
  font-weight: 600;
  font-style: italic;
  font-size: 36px;
  color: #000;
}
#contact a.details {
  background-color: #d87e12;
}
#contact a.details:before {
  content: 'e';
}
#contact .social > a {
  font-size: 0;
  display: inline-block;
  width: 42px;
  height: 42px;
  position: relative;
  margin: 0 5px;
}
#contact .social > a:after {
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  height: 100%;
  width: 100%;
  font-family: 'cfsg-icon-fonts';
  font-size: 42px;
  color: rgba(255, 255, 255, 0.5);
}
#contact .social > a.facebook:after {
  content: 'f';
}
#contact .social > a.github:after {
  content: 'g';
}

@media (max-width: 768px) {
  #contact > article > * {
    margin: 0 0 0 0;
  }
  #contact a.details .cta {
    font-size: 24px;
    margin-top: 15px;
  }
  #contact .social > a:after {
    color: rgba(0, 0, 0, 0.5);
  }
}
